AncinInsaat/wwwroot/images/projects/**/*.png filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.PNG filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/documents/catalogues/*.pdf filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.jpg filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.mov filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.MOV filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/projects/**/*.JPG filter=lfs diff=lfs merge=lfs -text
AncinInsaat/wwwroot/images/logos/*.mp4 filter=lfs diff=lfs merge=lfs -text
